$color-white:          #fff;
$color-black:          #171720;
$color-primary:        #d11c1c;
$color-secondary:      #cccccc;
$color-third:          #f9f9f9;
$cell-border-color:    #f4f4f4;
$btn-border-color:     darken($color-primary, 10%);
$btn-bg-color:         $color-primary;
$btn-color:            $color-white;
$cell-padding:         10px;
$cell-width:           85px;
$cell-height:          65px;
$cell-line-height:     $cell-height - ($cell-padding * 2);
$cell-border-width:    solid 1px;
$cell-border-header:   solid 4px;
$scheduler-room-width: 200px;
$font-weight-bold:     800;
$font-weight-light:    200;

@mixin text-align($side) {
    text-align: $side;
}

.scheduler {
    overflow:         auto;
    background-color: $color-white;

    & > aside {
        float:            left;
        width:            $scheduler-room-width;
        padding-top:      $cell-height;
        background-color: $color-white;
        font-weight:      $font-weight-bold;
        @include text-align(left);

        & > div {
            border-bottom: $cell-border-width $cell-border-color;
            padding:       $cell-padding;
            height:        $cell-height;
            color:         $color-black;

            img {
                width:        $cell-height - ($cell-padding * 2);
                margin-right: $cell-padding;
            }

            &:first-child {
                border-top: $cell-border-width $cell-border-color;
            }
        }
    }

    & > .right {
        margin-left: $scheduler-room-width;
        overflow-x:  auto;
        overflow-y:  hidden;

        .header, .line {
            height:        $cell-height;
            overflow-x:    auto;
            overflow-y:    hidden;
            white-space:   nowrap;
            border-bottom: $cell-border-width $cell-border-color;

            .cell {
                width:      $cell-width;
                height:     $cell-height;
                float:      left;
                padding:    $cell-padding;
                cursor:     default;
                color:      $color-black;
                transition: background-color .3s ease-in;
                @include text-align(center);

                &.day-week-0, &.day-week-6 {
                    background-color: $color-third;
                    border-color:     $color-third;
                }

                &.today {
                    border-color: $color-primary;
                }
            }
        }

        .header {
            background-color: $color-white !important;
            z-index:          auto !important;

            .cell {
                line-height: 1;
                font-weight: $font-weight-bold;
                color:       $color-black;
                border-top:  $cell-border-header $color-white;

                small {
                    color:       $color-black;
                    font-weight: $font-weight-light;
                    margin-top:  6px;
                    display:     block;
                }
            }
        }

        .line {
            .cell {
                line-height: $cell-line-height;

                &.selected {
                    background-color: $color-primary;
                    color:            $color-white;
                }

                &.taken {

                    &:hover {
                        background-color: inherit;
                    }
                }

                &.can-select {
                    cursor: pointer;
                }

                &:hover, &.hover {
                    background-color: lighten($color-primary, 10%);
                    color:            $color-white;
                }
            }
        }
    }

    .book-now {
        padding: 30px;

        button {
            border:           $cell-border-width $btn-border-color;
            background-color: $btn-bg-color;
            color:            $btn-color;
            text-transform:   uppercase;
            line-height:      43px;
            font-size:        20px;
            padding:          0 30px;

            &:disabled {
                opacity: 0.5;
            }
        }
    }
}