$color-white:             #fff;
$color-black:             #171720;
$color-grey:              #ccc;
$color-red:               #D11C1C;
$color-dark-grey:         #20202d;
$cell-padding:            10px;
$cell-width:              85px;
$cell-height:             65px;
$cell-line-height:        $cell-height - ($cell-padding * 2);
$cell-border-width:       solid 1px;
$cell-border-color-dark:  $color-black;
$cell-border-color-light: $color-dark-grey;
$scheduler-room-width:    200px;
$font-weight-bold:        800;

@mixin text-align($side) {
    text-align: $side;
}

.scheduler {
    overflow:         auto;
    background-color: $color-dark-grey;

    & > aside {
        float:            left;
        width:            $scheduler-room-width;
        padding-top:      $cell-height;
        background-color: $color-black;
        @include text-align(left);

        & > div {
            border-bottom: $cell-border-width $cell-border-color-light;
            padding:       $cell-padding;
            height:        $cell-height;
            color:         $color-white;

            img {
                width:        $cell-height - ($cell-padding * 2);
                margin-right: $cell-padding;
            }
        }
    }

    & > .right {
        margin-left: $scheduler-room-width;
        overflow-x:  auto;
        overflow-y:  hidden;

        .header, .line {
            height:        $cell-height;
            overflow-x:    auto;
            overflow-y:    hidden;
            white-space:   nowrap;
            border-bottom: $cell-border-width $cell-border-color-dark;

            .cell {
                width:       $cell-width;
                height:      $cell-height;
                float:       left;
                line-height: $cell-line-height;
                padding:     $cell-padding;
                cursor:      default;
                color:       $color-white;
                transition:  background-color .3s ease-in;
                @include text-align(center);

                &.day-week-0, &.day-week-6 {
                    background-color: lighten($color-dark-grey, 5%);
                }
            }
        }

        .header {
            .cell {
                font-weight: $font-weight-bold;
                color:       $color-red;
            }
        }

        .line {
            .cell {
                &:hover, &.hover {
                    background-color: $color-red;
                }

                &.taken {

                    &:hover {
                        background-color: inherit;
                    }
                }

                &.can-select {
                    cursor: pointer;
                }
            }
        }
    }
}